<h2>Voorkeuren</h2>

<form id="categorie" action="/resultaten" method="POST">

    <fieldset>
        <h3>Keukens</h3>
        <div>
            {{>keuken}}
        </div>
    </fieldset>
    <fieldset>
        <h3>Dieet</h3>
        <div>
            <input type="radio" name="dieet" value="carnivoor" id="carnivoor">
            <label for="carnivoor">
                <img src="images/Carnivoor.jpg">
                <h4>Carnivoor</h4>
            </label>
            <input type="radio" name="dieet" value="vegetarier" id="vegetarier">
            <label for="vegetarier">
                <img src="images/Vegetarier.jpg">
                <h4>Vegetariër</h4>
            </label>
            <input type="radio" name="dieet" value="pescotarier" id="pescotarier">
            <label for="pescotarier">
                <img src="images/Pescotarier.jpg">
                <h4>Pescotariër</h4>
            </label>
            <input type="radio" name="dieet" value="veganist" id="veganist">
            <label for="veganist">
                <img src="images/Veganist.jpg">
                <h4>Veganist</h4>
            </label>
        </div>
    </fieldset>
    <a href="http://localhost:4000/" class="secondarybutton">Vorige</a>
    <input type="submit" value="Filter" class="mainbutton">


</form>