<h1>Voorkeuren</h1>

<form id="categorie">

    <input type="checkbox" id="italiaans">
    <label for="italiaans">
        <img src="images/Italiaans.jpg">
        <h2>Italiaans</h2>
    </label>

    <input type="checkbox" id="koreaans">
    <label for="koreaans">
        <img src="images/Koreaans.jpg">
        <h2>Koreaans</h2>
    </label>

    <input type="checkbox" id="grieks">
    <label for="grieks">
        <img src="images/Grieks.jpg">
        <h2>Grieks</h2>
    </label>

    <input type="checkbox" id="spaans">
    <label for="spaans">
        <img src="images/Spaans.jpg">
        <h2>Spaans</h2>
    </label>

    <input type="checkbox" id="amerikaans">
    <label for="amerikaans">
        <img src="images/Amerikaans.jpg">
        <h2>Amerikaans</h2>
    </label>

    <input type="checkbox" id="frans">
    <label for="frans">
        <img src="images/Frans.jpg">
        <h2>Frans</h2>
    </label>
    <button class="secondarybutton">Vorige</button>
    <input type="submit" value="Filter" class="mainbutton">
</form>